@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Hammersmith+One&family=Righteous&display=swap');
h1 {
    font-size: 50px;
    font-weight: 400;
    letter-spacing: 3px;
    color: #f8f8ff;
}

#weatherContent {
    display: none;
}

.navbar {
    height: 150px!important;
}

#cityDetail,
#uvIndexColor,
li {
    color: #4D4F53!important;
}

#searchResults,
#cityDetail,
.card {
    background-color: #508fb9!important;
}

#searchResults {
    height: 100vh;
}

#fiveDay .card {
    border: 1px solid white!important;
}

#searchHistory li {
    background-color: #3399ff;
    color: #f8f8ff!important;
}

p {
    color: #D9B779;
}

h1, h2, h3, h4, h5 {
    font-family: 'Righteous', cursive;
}

h2, h3, h4, h5 {
    color: #f8f8ff;
}

body {
    font-family: 'Fredoka One', cursive;
    background-color: #6fb3f6;
}









